
/** GLOBAL TAGS **/


html {

    font-family: 'Poppins', sans-serif;
    color: #404A67;

}


body {

    margin: 0;

}


h3 {

    font-size: 16px;
    letter-spacing: 1.5px;

    line-height: 0px;

}


p {

    font-size: 16px;
    font-weight: 400;
    color: #818797;
    line-height: 24px;

    text-rendering: optimizeLegibility;

}


/** LAYOUT **/


/** main layout **/
#main-wrapper {

    display: grid;
    grid-gap: 0px;
    grid-template-areas: "header"
                         "splash";

    width: 800px;
    margin-left: calc(50% - 400px);

}
#background-wrapper {

    width: 100%;
    margin: 0px;
    padding: 0px;

    background-color: #F4F4F6;

}
#lower-wrapper {

    padding-top: 60px;

    width: 800px;
    margin-left: calc(50% - 400px);

    height: 500px; /* TEMPORARY: TO SHOW HOW THE LOWER SECTION WOULD LOOK WITH MORE CONTENT */

}


/** header **/
#header {

    text-align: left;
    margin-top: 50px;

}
.header-tab {

    margin-left: 25px;
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 13px;

    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.31px;
    line-height: 50px;

    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;

} .header-tab:hover {

    border-bottom: 2px solid #D5D7DD;

} .header-tab:active {

    border-bottom: 2px solid #FFFFFF;
    color: #818797;

}
.active {

    border-bottom: 2px solid #404A67;

}
#header-logo {

    width: 50px;
    height: 49px;
    margin-right: 25px;
    float: left;

}
#apply-button {

    padding-left: 25px;
    padding-right: 25px;
    margin-top: 5px;
    float: right;

    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.31px;
    color: #FFFFFF;
    line-height: 40px;

    background-color: #DD7096;
    border-radius: 4px;

    -webkit-box-shadow: 0 4px 6px rgba(218,89,125,.21), 0 1px 3px rgba(0,0,0,.18);
    box-shadow:         0 4px 6px rgba(218,89,125,.21), 0 1px 3px rgba(0,0,0,.18);

    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;

} #apply-button:hover {

    margin-top: 3px;
    margin-bottom: 7px;

    -webkit-box-shadow: 0 7px 14px rgba(218,89,125,.21), 0 3px 6px rgba(0,0,0,.18);
    box-shadow:         0 7px 14px rgba(218,89,125,.21), 0 3px 6px rgba(0,0,0,.18);

} #apply-button:active {

    margin-top: 7px;
    margin-bottom: 3px;

    -webkit-box-shadow: none;
    box-shadow:         none;

}


/** splash **/
#splash {

    grid-area: splash;

    margin-top: 100px;
    margin-bottom: 100px;

    display: grid;
    grid-gap: 25px;
    grid-template-areas: "logo o-bracket title    c-bracket"
                         "logo o-bracket subtitle c-bracket";

}
#logo-wrapper {

    grid-area: logo;
    padding-right: 47px;

}
#splash-logo {

    filter: drop-shadow(0 4px 6px rgba(218,89,125,.21)) drop-shadow(0 1px 3px rgba(0,0,0,.18));

}
#o-bracket-wrapper {

    grid-area: o-bracket;
    padding-top: 23px;

}
#title-wrapper {

    grid-area: title;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: -10px;

}
#title {

    font-size: 48px;
    font-weight: 900;

    letter-spacing: 2px;
    line-height: 55px;

    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}
#subtitle-wrapper {

    grid-area: subtitle;
    padding-top: 0px;
    padding-bottom: 25px;

}
#subtitle {

    font-size: 16px;
    font-weight: 500;
    font-style: italic;

    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;

    color: #818797;
    line-height: 24px;
    text-rendering: optimizeLegibility;

}
#c-bracket-wrapper {

    grid-area: c-bracket;
    padding-top: 23px;

}


/** about **/
#about {

    display: grid;
    grid-gap: 25px;
    grid-template-columns: 450px auto;

}
#about-header {

    grid-row: 1;
    grid-column: 1 / span 2;

    padding: 0px;
    margin: 0px;

}
#about-text {

    grid-row: 2;
    grid-column: 1;

    padding: 0px;
    margin: 0px;

}
#about-image {

    grid-row: 2;
    grid-column: 2;

    background-image: url("../assets/about-image.jpg");
    background-size: cover;

    border-radius: 4px;

    -webkit-box-shadow: 0 4px 6px rgba(0,0,0,.21), 0 1px 3px rgba(0,0,0,.18);
    box-shadow:         0 4px 6px rgba(0,0,0,.21), 0 1px 3px rgba(0,0,0,.18);

}
