html {
  font-size: 1rem;
}

@media (min-width: 576px) {
  html {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 1.4rem;
  }
}

@media(min-width: 992px) {
  html {
    font-size: 1.6rem;
  }
}

body {
    font-family: 'Poppins', 'Roboto', sans-serif;
    color: $blue;
}

h2.header {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

.long-form {
    color: #333;
    line-height: 1.5;
    font-size: 0.8em;
}

.row.spaced {
    margin-top: 2em;
}
